<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>きたくグラフ</title>
     <!--[if IE]!><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
     <script language="javascript" type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
     <script language="javascript" type="text/javascript" src="/js/jquery.jqplot.min.js"></script>
     <script language="javascript" type="text/javascript" src="/js/jqplot.dateAxisRenderer.min.js"></script>
     <script language="javascript" type="text/javascript" src="/js/jqplot.canvasTextRenderer.min.js"></script>
     <script language="javascript" type="text/javascript" src="/js/jqplot.canvasAxisTickRenderer.min.js"></script>
     <script language="javascript" type="text/javascript" src="/js/jqplot.cursor.min.js"></script>
     <script language="javascript" type="text/javascript" src="/js/jqplot.highlighter.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/css/jquery.jqplot.min.css" />
     <script type="text/javascript">
       $(function() {
           $.jqplot.config.enablePlugins = true;
           $.getJSON(
             '/index.json', 
              null,
              function(data, status) {
              $.jqplot('chardiv', [data],{
                    title: 'きたくグラフ',
                    series: [{
                      label: 'きたくまでの時間'
                    }],
                    axesDefaults: {
                      tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                      tickOptions: {
                        angle: -30,
                        fontSize: '10pt'
                      }
                    },
                    axes: {
                      xaxis:{
                        renderer: $.jqplot.DateAxisRenderer,
                        min: '2010/04/01'
                      },
                      yaxis:{
                        min: 0
                      },
                      cursor: {  
                        show: true,
                        showVerticalLine:true,
                        showHorizontalLine: true,
                        showCursorLegend:true,
                        showTooltip: false,
                        zoom:true
                      },
                      highlighter: {sizeAdjsut: 7.5}
                    }
                  });
                });
             });
     </script>
  </head>
  <body>
    <div id="chardiv" style="height:600px;width:700px;margin:30px;"></div>
    <ul>
      <p>
      私（<a href="http://twitter.com/yono">@yono</a>）がツイッターでつぶやいた「きたく」ツイートを集計してグラフ化しました。
      </p>
      <p>
      横軸は日付、縦軸は18時（定時）からの経過時間（分）です。
      </p>
    </ul>
  </body>
</html>
